body{
margin:0;
font-family:'Segoe UI',sans-serif;
background:black;
color:white;
text-align:center;
overflow:hidden;
}

.screen{
position:absolute;
width:100%;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
opacity:0;
transition:1s;
}

.screen.active{
opacity:1;
z-index:1;
}

.dark{
background:#000000ee;
}

button{
padding:15px 25px;
margin-top:30px;
border:none;
border-radius:30px;
font-size:18px;
cursor:pointer;
background:pink;
color:black;
transition:.3s;
}

button:hover{
transform:scale(1.1);
}

img{
max-width:90%;
max-height:70vh;
border-radius:20px;
box-shadow:0 0 40px pink;
transition:2s;
}

.buttons{
display:flex;
gap:30px;
}

#result{
margin-top:30px;
font-size:24px;
color:pink;
}
